:global {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
  }

  // video::-webkit-media-controls-play-button {
  //   display: none!important;
  //   -webkit-appearance: none;
  // }

  // android设计稿是1080宽，与正常750宽不一致，设置此函数进行转换 
  @function smaller($size) {
    @return $size * 750 / 1080 * 1rem;
  }


  /* New shadow dom for play button */

  /* This one works */

  video::-webkit-media-controls-start-playback-button {
    display: none!important;
    -webkit-appearance: none
  }
  a{
    text-decoration: none;
  }
  body {
    margin: 0 auto;
    font-size: 14px;
    line-height: 1;
    background: #eee;
  }
  .g-footer {
    display: flex;
    align-items: center;
    width: 7.5rem;
    //height: 1.11rem;
    height: 1rem;
    //padding: .1rem .3rem;
    //background-color: rgba(255, 255, 255, .85);
    background-image: resolve('back.jpg');
    background-size: cover;
    &.from-newsapp {
      //background: url(http://img1.cache.netease.com/utf8/3g/touch/images/news-banner.png) 0 0 no-repeat;
      //background-size: cover;
    }
    &.fixed{
      position: fixed;
      left: 50%; bottom: 0;
      z-index: 10;
      width: 7.5rem;
      margin-left: -3.75rem;
    }
    .logo {
      width: .8rem; height: .8rem;
      background-image: resolve('logo.png');
      background-size: cover;
    }
    .intro {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: space-between;
      padding-left: .23rem;
      >div:first-child {
        font-size: .28rem;
        color: rgba(0, 0, 0, .8);
      }
      >div:last-child {
        margin-top: .22rem;
        font-size: .24rem;
        color: rgba(0, 0, 0, .6);
      }
    }
    .open {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem; height: .6rem;
      margin-left: 5.2rem;
      font-size: .3rem;
      text-decoration: none;
      color: #fff;
    }
  }
  .g-containter{
    max-width :7.5rem;
  }
  .header{
    position: fixed;
    left: 50%;
    top: 0;
    z-index: 2;
    width: 100%;
    max-width: 7.5rem;
    margin-left: -3.75rem;
    .video-wrap{
      position: relative;
      overflow: hidden;
      min-height: 2rem;
      &.wechat {
        .footer {
          bottom: 0; right: 0;
        }
      }
      .video-inner {
        background-color: #000;
        &.playing:after, &.playing:before {
          display: none;
        }
        &:before {
          content: " ";
          position: absolute;
          top: 0; left: 0; right: 0; bottom: 0;
          z-index: 1;
          background-color: rgba(0,0,0,.6);
        }
        &:after {
          content: " ";
          position: absolute;
          z-index: 2;
          top: 50%; left: 50%;
          width: 1.3rem; height: 1.3rem;
          margin-left: -.65rem;
          margin-top: -.75rem;
          border: 1px solid #fff;
          border-radius: .65rem;
          pointer-events: none;
          background: resolve("btn-play.png") center center no-repeat;
          background-size: .37rem .47rem;
        }
      }
      .video-mask {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        z-index: 1;
        color: rgba(255,255,255,.8);
        background-color: rgba(0,0,0,.85);
        .logo {
          width: 3.56rem;
          margin: 1.35rem auto 0;
          padding-top: 4.19rem;
          font-size: .28rem;
          text-align: center;
          background: resolve('mask.png')  center top no-repeat;
          background-size: 3.56rem 3.59rem;
        }
        .info {
          margin-top: 3rem;
          text-align: center;
          font-size: .32rem;
          color: rgba(255, 255, 255, 0.8);
        }
        .intro {
          width: 5.43rem;
          margin: 2.34rem auto .5rem;
          text-align: center;
          font-size: .28rem;
          >div:first-child {
            position: relative;
            margin-bottom: .42rem;
            font-size: .34rem;
            &:before, &:after {
              content: " ";
              position: absolute;
              top: 50%;
              width: 1.88rem;
              border-bottom: 1px solid rgba(255,255,255,.8);
            }
            &:before {
              left: 0;
            }
            &:after {
              right: 0;
            }
          }
        }
        .open {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 5.41rem;
          height: .8rem;
          border-radius: .4rem;
          margin: 0 auto;
          font-size: .32rem;
          color: #05be46;
          text-decoration: none;
          background-color: #f7f7f7;
          >span {
            display: inline-block;
            margin-left: -.15rem;
            margin-right: .3rem;
            width: .6rem; height: .6rem;
            background: resolve('logo.png') center center no-repeat;
            background-size: cover;
          }
        }
      }
      .status {
        position: absolute;
        top: .2rem; left: .24rem;
        //height: .38rem;
        //line-height: .38rem;
        //padding: .18rem .4rem .18rem .3rem;
        //padding: 0 .2rem;
        vertical-align: middle;
        font-size: .24rem;
        //color: rgba(255,255,255,.8);
        //border-radius: .4rem;
        //border-bottom-right-radius: .4rem;
        //background-color: rgba(0,0,0,.4);
        text-align: center;
        .dec{
          display: inline-block;
          width: .96rem;
          height: .36rem;
          border-radius: .05rem;
          vertical-align: middle;
          font-size: .24rem;
          line-height: .36rem;
          color: #ffffff;
          background-color: #737373;
          &.live{
            background-color: #de3031;
          }
          span{
            display: inline-block;
            width: .32rem;
            height: .2rem;
            vertical-align: middle;
            background-image: resolve('video-icon.png');
            background-size: .32rem .2rem;

          }
        }
        .usercount{
          display: inline-block;
          border: 1px solid rgba(255,255,255,.5);
          height: .4rem;
          line-height: .4rem;
          padding: 0 .05rem;
          margin-left: .12rem;
          vertical-align: middle;
          font-size: .22rem;
          color: #cccccc;
          background-color: rgba(0,0,0,.3);
          span{
            vertical-align: middle;
            font-size: .26rem;
            color: #fff;

          }
        }
      }
      .newsapp-status {
        position: absolute;
        top: .44rem; left: .44rem;
        z-index: 6;
        color: #fff;
        font-size: .3rem;
        text-shadow: 0 3px 4px rgba(0,0,0,.3);
      }
      video {
        width: 100%;
        vertical-align: top;
        height: 5rem;
        // position: absolute;
      }
      .footer {
        position: absolute;
        right: .3rem; bottom: .3rem;
        z-index: 3;
      }
      .favour, .count {
        position: relative;
        display: inline-block;
        height: .3rem; min-width: .3rem;
        padding: 0 .2rem;
        line-height: .3rem;
        font-size: .24rem;
        border-radius: .3rem;
        color: #fff;
        background-color: #00db7c;
        &:before {
          content: " ";
          position: absolute;
          bottom: 100%; left: 0; right: 0;
          z-index: 2;
          height: .7rem;
        }
      }
      .favour {
        &:before {
          background: resolve('favour.png') center center no-repeat;
          background-size: .37rem .6rem;
        }
      }
      .count {
        margin-left: .4rem;
        &:before {
          background: resolve('user-count.png') center bottom no-repeat;
          background-size: .51rem .49rem;
        }
      }
      .videoControls{
        position: absolute;
        left: 0;
        bottom: .2rem;
        //width: 100%;
        //width: 7.12rem;
        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        margin-left: .2rem;
        border-radius: .3rem;
        height: .6rem;
        background-color: rgba(0,0,0,.5);
        .play-wrap{
          display: -webkit-box;
          -webkit-box-pack: center;
          -webkit-box-align: center;
          width: .6rem;
          height: .6rem;
          border-radius: 50%;
          margin-left: -.01rem;
          background-color: #fff;
          .play{
            width: .16rem;
            height: .2rem;
            border: .04rem solid #1b1b1b;
            border-top: none;
            border-bottom: none;
            //margin-right: .28rem;
          }
        }
        .videoInfo{
          //width: 6.46rem;
          -webkit-box-flex: 1;
          display: -webkit-box;
          -webkit-box-pack: center;
          -webkit-box-align: center;
          p{
            width: .76rem;
            font-size: .2rem;
            color: #ffffff;
            &.currentTime{
              //width: 5.88rem;
              margin: 0 .08rem 0 .12rem;
            }
            &.duration{
              margin-left: .1rem;
            }
          }
          .progressBar,.switch-wrapper{
            //width: 100%;
            position: relative;
            top: -.025rem;
            -webkit-box-flex: 1;
            height: .04rem;
            margin: .16rem 0 .08rem;
            background-color: rgba(255,255,255,.2);
            .dot,.switch-togger{
              position: absolute;
              /*top: -.06rem;
              width: .16rem;
              height: .16rem;
              left: 3rem;*/
              top: -.14rem;
              width: .3rem;
              height: .3rem;
              border-radius: 50%;
              background-color: #fff;
            }
            .playProgress{
              //width: 50%;
              position: absolute;
              left: 0;
              top: 0;
              height: 100%;
              background-color: #fff;
            }
          }
          .videoTime{
            display: -webkit-box;
            p{
              font-size: .22rem;
              color: #ffffff;
              &.currentTime{
                //width: 5.88rem;
              }
            }
          }
        }
      }
    }
    .anchor-wrap {
      position: relative;
      display: -webkit-box;
      -webkit-box-align: center;
      height: .8rem;
      padding: 0 .2rem;
      //box-shadow: 0 2px 5px 0 rgba(0,0,0,.08);
      border-bottom: 1px solid #e5e5e5;
      background-color: #fff;
      img {
        flex-shrink: 0;
        width: .5rem;
        height: .5rem;
        border-radius: 50%;
      }
      .info {
        display: -webkit-box;
        -webkit-box-align: center;
        flex-shrink: 1;
        width: 5.35rem;
        padding: 0 .18rem;
      }
      .nickname {
        overflow: hidden;
        font-size: .28rem;
        //font-weight: bold;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #333333;
      }
      .subscribe-count{
        height: .3rem;
        line-height: .3rem;
        border-left: 1px solid #909090;
        padding-left: .2rem;
        margin-left: .2rem;
        font-size: .24rem;
        color: #909090;
      }
      .vip {
        display: inline-block;
        width: .4rem; height: .2rem;
        background: resolve('vip.png') 0 0 no-repeat;
        background-size: cover;
      }
      .title {
        overflow: hidden;
        line-height: 1.4;
        font-size: .32rem;
        color: #000;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .participation{
        position: absolute;
        right: .26rem;
        bottom: .18rem;
        height: .38rem;
        line-height: .38rem;
        border-radius: .4rem;
        padding: 0 .2rem;
        font-size: .24rem;
        color: #858585;
        text-align: center;
        vertical-align: middle;
        background-color: #f4f4f4;
      }
      .subscribe{
        overflow: hidden;
        width: 1.24rem;
        height: .5rem;
        line-height: .5rem;
        border-radius: .25rem;
        font-size: .26rem;
        >a{
          display: inline-block;
          width: 100%;
          height: 100%;
          color: #ffffff;
          //margin-left: .6rem;
          text-align: center;
          background-color: #df3031;
        }
      }
    }
  }

  .btn-pause {
    display: inline-block;
    width: .9rem; height: .9rem;
    border-radius: 50%;
    background: rgba(255,255,255,1) resolve('btn-pause.png') center center no-repeat;
    background-size: .26rem .36rem;
    &.paused {
      background-image: resolve('btn-play.png');
      background-size: .24rem .31rem;
    }
  }
  .barrage-wrap ,.barrage-outter{
    position: relative;
    padding-top: 6.5rem;
    pointer-events: none;
    background-color: #eee;
    //padding-bottom: 1.42rem;
    &.size-5 {
      .item0 {
        opacity: .6;
      }
      .item1 {
        opacity: .8;
      }
    }
    &.size-4 {
      .item0 {
        opacity: .8;
      }
    }
    .footer {
      position: absolute;
      right: .3rem; bottom: 1rem;
      z-index: 3;
      max-width :7.5rem;
      .favour, .count {
        position: relative;
        display: inline-block;
        height: .3rem; min-width: .3rem;
        border-radius: .3rem;
        padding: 0 .2rem;
        font-size: .24rem;
        color: #fff;
        line-height: .3rem;
        background-color: #00db7c;
        &:before {
          content: " ";
          position: absolute;
          bottom: 100%; //left: 0; right: 0;
          height: .7rem;
          z-index: 2;
        }
      }
      .favour {
        &:before {
          background: resolve('favour.png') center center no-repeat;
          background-size: .37rem .6rem;
        }
      }
      .count {
        position: relative;
        width: 1.56rem;
        height: .4rem;
        line-height: .4rem;
        text-align: center;
        background-color: #3d3d3d;
        &:before {
          position: absolute;
          right: -0.02rem !important;
          bottom: -.1rem !important;
          width: .6rem;
          height: .6rem;
          border-radius: 50%;
          border: 1px solid #dbdbdb;
          background: #fff resolve('favour-b.png') .16rem .13rem no-repeat;
          background-size: .3rem .32rem;
        }
      }
    }
    .item {
      display: flex;
      align-items: flex-start;
      margin-top: .3rem;
      //max-width: 4.7rem;
      //padding: .15rem .3rem .08rem;
      border-radius: .1rem;
      padding: 0 .26rem;
      font-size: .24rem;
      color: #444;
      opacity: 1;
      -webkit-transition: opacity 3s ease-out;
      transition: opacity 3s ease-out;
      //background-color: rgba(255,255,255, .85);
      &.fadeout {
        opacity: 0;
        //-webkit-animation-name: fadeOut;
        //animation-name: fadeOut;
      }
      
      img {
        flex-shrink:0;
        width: .6rem;
        height: .6rem;
        margin-right: .14rem;
        border-radius: 50%;
      }
      .info {
        //flex-grow: 1;
        flex-shrink:1;
        padding: .15rem .2rem .15rem .15rem;
        border-radius: .05rem;
        word-break: break-all;
        background-color: #fafafa;
      }
      .name {
        font-size: .24rem;
        color: #b7b7b7;
        //color: rgba(68, 68, 68, .9);
      }
      .vip {
        display: inline-block;
        margin-left: .05rem;
        width: .4rem; height: .2rem;
        background: resolve('vip.png') 0 0 no-repeat;
        background-size: cover;
      }
      .msg {
        font-size: .28rem;
        margin-top: .1rem;
        line-height: .36rem;
        color: #333;
      }
    }
  }
  .barrage-wrap{
    &.playing,&.pause{
      display: none;
    }
    padding-bottom: 1.22rem;
  }
  .barrage-outter{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 66%;
    //min-height: 100%;
    //overflow-y: scroll;
    padding-top: 0;
    padding-bottom: 1rem;
    background-color: transparent;
    &.undefined,&.error{
      display: none;
    }
    .item{
      .info{
        max-width: 5.04rem;
        background-color: rgba(0,0,0,.5);
        .name{
          font-size: .24rem;
          color: #b7b7b7;
        }
        .msg{
          font-size: .28rem;
          line-height: .38rem;
          color: #fff;
        }
      }
    }
  }
  .video-placeholder {
    position: relative;
    overflow: hidden;
    pointer-events: none;
    &:after {
      position: absolute;
      top: 50%; left: 50%;
    }
    &.deleted {
      height: 9.2rem;
    }
    &.recording {
      height: 12.2rem;
    }
    img {
      width: 100%;
    }
  }

  .hot-list {
    >.title {
      position: relative;
      padding: .35rem 0 .3rem;
      font-size: .28rem;
      color: rgba(0, 209, 93, .8);
      text-align: center;
      background-color: #fff;
      &:after, &:before {
        content: " ";
        position: absolute;
        top: .49rem; 
        width: 2.7rem;
        border-bottom: 1px solid #00db7c;
      }
      &:before {
        left: .3rem;
      }
      &:after {
        right: .3rem;
      }
    }

    .loadmore {
      margin-top: .3rem;
      margin-bottom: .3rem;
      padding: .3rem 0;
      text-align: center;
      font-size: .3rem;
      color: rgba(0,0,0,.8);
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.08);
      background-color: #fff;
    }
  }
  .hot-item {
    .img-wrap {
      position: relative;
    }
    .img-inner {
      height: 3.9rem;
      overflow-y: hidden;
      background-position: center; 
      background-size: cover;
    }
    .status {
      position: absolute;
      right: 0; bottom: .1rem;
      padding: .1rem .1rem .1rem .18rem;
      font-size: .2rem;
      border-top-left-radius: .3rem;
      border-bottom-left-radius: .3rem;
      color: #fff;
      background-color: rgba(0,0,0,.8);
    }
    img {
      vertical-align: top;
      max-width: 100%;
    }
  }
  .m-count{
    position: absolute;
    right: .2rem; bottom: -.4rem;
    font-size: .24rem;
    color: rgba(0,0,0,.8);
    .favourcount, .usercount {
      padding-left: .28rem;
      background-position: left center;
      background-repeat: no-repeat;
    }
    .favourcount {
      margin-right: .3rem;
      background-image: resolve('favour-s.png');
      background-size: .16rem .24rem;
    }
    .usercount {
      background-image: resolve('user-count-s.png');
      background-size: .21rem .2rem;
    }
  }
  .canvas {
    position: fixed;
    right: 0;
    bottom: 1.28rem;
    z-index: 5;
    width: 7.5rem;
    height: 5.5rem;
    pointer-events: none;
    canvas {
      width: 100%; height: 100%;
    }
  }
  .radish {
    position: fixed;
    right: .2rem;
    //bottom: 1.48rem;
    bottom: 1.3rem;
    z-index: 3;
    .favour, .count {
      position: relative;
      display: inline-block;
      height: .3rem; min-width: .3rem;
      padding: 0 .72rem 0 .2rem;
      font-size: .24rem;
      line-height: .3rem;
      border-radius: .3rem;
      color: #fff;
      background-color: #00db7c;
      &:before {
        content: " ";
        position: absolute;
        bottom: 100%; //left: 0; right: 0;
        height: .7rem;
        z-index: 2;
      }
    }
    .favour {
      &:before {
        background: resolve('favour.png') center center no-repeat;
        background-size: .37rem .6rem;
      }
    }
    .count {
      //width: 1.56rem;
      position: relative;
      height: .4rem;
      line-height: .4rem;
      //text-align: center;
      background-color: #3d3d3d;
      &:before {
        position: absolute;
        bottom: -.1rem !important;
        right: -0.02rem !important;
        width: .6rem;
        height: .6rem;
        border-radius: 50%;
        border: 1px solid #dbdbdb;
        background: #fff resolve('favour-b.png') .16rem .13rem no-repeat;
        background-size: .3rem .32rem;
      }
    }
  }
  .record{
    //background-image: resolve('end-bg.jpg');
    //background-image: resolve('trailer-bg.jpg');
    display: flex;
    flex-direction: column;
    align-items:center;
    min-height: 615px;
    padding-top: 1.42rem;
    background-size: 7.5rem;
    background-color: #303030;
    .info{
      display: flex;
      flex-direction: column;
      align-items:center;
      .icon{
        width: 1.55rem;
        height: 1.09rem;
        margin: .77rem 0 .5rem;
        background: resolve('end.png') 0 0 no-repeat;
        background-size: 1.55rem 1.09rem;
        &.delete{
          width: 1.3rem;
          height: 1.8rem;
          background: resolve('delete.png') 0 0 no-repeat;
          background-size: 1.3rem 1.8rem;
        }
      }
      p{
        font-size: .4rem;
        color: #fefefe;
        //margin: .2rem 0 4.2rem;
      }
    }
    .record-info{
      width: 100%;
      padding: 0 .7rem 0 .95rem;
      >div{
        display: -webkit-box;
        //-webkit-box-pack: center;
        -webkit-box-align: center;
        width: 100%;
        padding: .4rem .3rem .4rem .25rem;
        border-bottom: 1px solid rgba(255,255,255,.3);
        font-size: .3rem;
        color: #9a9a9a;
        .count{
          -webkit-box-flex: 1;
          font-size: .36rem;
          text-align: right;
        }
      }
      .favour-wrap,.usercount-wrap,.duration-wrap{

      }
      .favour-wrap{
        color: #fff;
      }
    }
    .tips{
      margin: .86rem 0 .28rem;
      font-size: .26rem;
      color: #ffffff;
    }
    .anchor{
      display: -webkit-box;
      -webkit-box-align: center;
      //width: 4.26rem;
      height: 1rem;
      border-radius: .46rem;
      padding: 0 .18rem;
      margin-bottom: 5.4rem;
      background-color: rgba(0,0,0,.4);
      .avatar{
        overflow: hidden;
        width: .62rem;
        height: .62rem;
        margin-right: .2rem;
        border-radius: 50%;
        >img{
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      .info{
        align-items: flex-start;
        margin-right: .56rem;
        .nickname{
          margin-bottom: .12rem;
          font-size: .3rem;
          color: #ffffff;
        }
        .subscribe-count{
          font-size: .22rem;
          color: #909090;
        }
      }
      .subscribe{
        overflow: hidden;
        width: 1.24rem;
        height: .5rem;
        font-size: .26rem;
        line-height: .5rem;
        border-radius: .25rem;
        >a{
          display: inline-block;
          width: 100%;
          height: 100%;
          color: #ffffff;
          //margin-left: .6rem;
          text-align: center;
          background-color: #df3031;
        }
      }
    }
    .logo{
      width: 100%;
      height: 1.9rem;
      background: resolve('record.jpg') 0 0 no-repeat;
      background-size: 7.5rem 1.9rem;
    }
    .open{
      /*font-size: .38rem;
      color: #fefefe;
      width: 3.1rem;
      height: .8rem;
      line-height: .8rem;
      background-color: #e10000;
      text-align: center;
      border-radius: .15rem;
      margin: .95rem 0 1.22rem;*/
      a{
        /*color: #fefefe;
        display: inline-block;
        width: 100%;
        height: 100%;*/
      }
    }
  }
  .prevue{
    //background-image: resolve('pre-bg3.jpg');
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
    min-height: 715px;
    background-image: resolve('trailer-bg.jpg');
    background-size: 7.5rem auto;
    background-repeat: repeat;
    &.prevue-abnormal{
      //background-image: resolve('pre-bg2.jpg');
    }
    .title{
      width: 100%;
      padding-top: 1rem;
      font-size: .42rem;
      color: #fafafa;
      text-align: center;
    }
    .pre-abnormal-icon{
      width: 1.5rem;
      height: 1.86rem;
      margin-top: .5rem;
      background-image: resolve('pre-icon.png');
      background-size: 3.6rem;
    }
    .pre-info{
      margin: .52rem 0 .68rem;
      font-size: .33rem;
      color: #fafafa;
      text-align: center;
    }
    .alarm{
      width: 2.02rem;
      height: .6rem;
      margin-bottom: 1.14rem;
      background-image: resolve('pre-icon.png');
      background-position: -1.7rem 0;
      background-size: 3.6rem;
      a{
        display: inline-block;
        width: 100%;
        height: 100%;
      }
    }
    .pre-abnormal{
      margin: .18rem 0 .44rem;
      font-size: .24rem;
      color: #fefefe;
    }
    .anchor{
      display: -webkit-box;
      -webkit-box-align: center;
      //width: 4.26rem;
      height: 1rem;
      border-radius: .46rem;
      padding: 0 .18rem;
      margin-bottom: 5.4rem;
      background-color: rgba(0,0,0,.4);
      .avatar{
        overflow: hidden;
        width: .62rem;
        height: .62rem;
        margin-right: .2rem;
        border-radius: 50%;
        >img{
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      .info{
        margin-right: .56rem;
        .nickname{
          margin-bottom: .12rem;
          font-size: .3rem;
          color: #ffffff;
        }
        .subscribe-count{
          font-size: .22rem;
          color: #909090;
        }
      }
      .subscribe{
        overflow: hidden;
        width: 1.24rem;
        height: .5rem;
        font-size: .26rem;
        line-height: .5rem;
        border-radius: .25rem;
        >a{
          display: inline-block;
          width: 100%;
          height: 100%;
          color: #ffffff;
          //margin-left: .6rem;
          text-align: center;
          background-color: #df3031;
        }
      }
    }
  }
  @-webkit-keyframes fadeOut {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }
}




