:global {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }

  // video::-webkit-media-controls-play-button {
  //   display: none!important;
  //   -webkit-appearance: none;
  // }

  // android设计稿是1080宽，与正常750宽不一致，设置此函数进行转换 
  @function smaller($size) {
    @return $size * 750 / 1080 * 1rem;
  }


  /* New shadow dom for play button */

  /* This one works */

  video::-webkit-media-controls-start-playback-button {
    display: none!important;
    -webkit-appearance: none
  }
  a{
    text-decoration: none;
  }
  body {
    margin: 0 auto;
    line-height: 1;
    background: #f7f7f7;
    font-size: 14px;
  }
  .g-footer {
    display: flex;
    align-items: center;
    width: 7.5rem;
    height: 1.11rem;
    //padding: .1rem .3rem;
    //background-color: rgba(255, 255, 255, .85);
    background-image: resolve('footer.png');
    background-size: cover;
    &.from-newsapp {
      //background: url(http://img1.cache.netease.com/utf8/3g/touch/images/news-banner.png) 0 0 no-repeat;
      //background-size: cover;
    }
    &.fixed{
      position: fixed;
      left: 50%; bottom: 0;
      z-index: 10;
      width: 7.5rem;
      margin-left: -3.75rem;
    }
    .logo {
      width: .8rem; height: .8rem;
      background-image: resolve('logo.png');
      background-size: cover;
    }
    .intro {
      display: flex;
      padding-left: .23rem;
      flex-grow: 1;
      flex-direction: column;
      justify-content: space-between;
      >div:first-child {
        font-size: .28rem;
        color: rgba(0, 0, 0, .8);
      }
      >div:last-child {
        margin-top: .22rem;
        font-size: .24rem;
        color: rgba(0, 0, 0, .6);
      }
    }
    .open {
      display: flex;
      width: 1.65rem; height: .6rem;
      align-items: center;
      justify-content: center;
      font-size: .3rem;
      text-decoration: none;
      color: #fff;
      border-radius: .3rem;
      background-color: #00d15d;
    }
  }
  .video-wrap{
    position: relative;
    min-height: 2rem;
    &.wechat {
      .footer {
        bottom: 0; right: 0;
      }
    }
    .video-inner {
      background-color: #000;
      &.playing:after, &.playing:before {
        display: none;
      }
      &:before {
        content: " ";
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        z-index: 1;
        background-color: rgba(0,0,0,.6);
      }
      &:after {
        content: " ";
        position: absolute;
        z-index: 2;
        top: 50%; left: 50%;
        margin-left: -.65rem;
        margin-top: -.75rem;
        width: 1.3rem; height: 1.3rem;
        pointer-events: none;
        border-radius: .65rem;
        background: rgba(255, 255, 255, .9) resolve("btn-play.png") center center no-repeat;
        background-size: .37rem .47rem;
      }
    }
    .video-mask {
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      color: rgba(255,255,255,.8);
      z-index: 1;
      background-color: rgba(0,0,0,.85);
      .logo {
        width: 3.56rem; 
        margin: 1.35rem auto 0;
        padding-top: 4.19rem;
        text-align: center;
        font-size: .28rem;
        background: resolve('mask.png')  center top no-repeat;
        background-size: 3.56rem 3.59rem;
      }
      .info {
        margin-top: 3rem;
        text-align: center;
        font-size: .32rem;
        color: rgba(255, 255, 255, 0.8);
      }
      .intro {
        width: 5.43rem;
        margin: 2.34rem auto .5rem;
        text-align: center;
        font-size: .28rem;
        >div:first-child {
          position: relative;
          margin-bottom: .42rem;
          font-size: .34rem;
          &:before, &:after {
            content: " ";
            position: absolute;
            top: 50%;
            width: 1.88rem;
            border-bottom: 1px solid rgba(255,255,255,.8);
          }
          &:before {
            left: 0;
          }
          &:after {
            right: 0;
          }
        }
      }
      .open {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5.41rem;
        height: .8rem;
        margin: 0 auto;
        font-size: .32rem;
        color: #05be46;
        border-radius: .4rem;
        text-decoration: none;
        background-color: #f7f7f7;
        >span {
          display: inline-block;
          margin-left: -.15rem;
          margin-right: .3rem;
          width: .6rem; height: .6rem;
          background: resolve('logo.png') center center no-repeat;
          background-size: cover;
        }
      }
    }
    .status {
      position: absolute;
      top: 1.2rem; left: 0;
      padding: .18rem .4rem .18rem .3rem;
      font-size: .28rem;
      color: rgba(255,255,255,.8);
      border-top-right-radius: .4rem;
      border-bottom-right-radius: .4rem;
      background-color: rgba(0,0,0,.8);
    }
    .newsapp-status {
      position: absolute;
      top: .44rem; left: .44rem;
      z-index: 6;
      color: #fff;
      font-size: .3rem;
      text-shadow: 0 3px 4px rgba(0,0,0,.3);
    }
    video {
      width: 100%;
      vertical-align: top;
      // position: absolute;
    }
    .footer {
      position: absolute;
      right: .3rem; bottom: .3rem;
      z-index: 3;
    }
    .favour, .count {
      position: relative;
      display: inline-block;
      height: .3rem; min-width: .3rem;
      padding: 0 .2rem;
      line-height: .3rem;
      font-size: .24rem;
      border-radius: .3rem;
      color: #fff;
      background-color: #00db7c;
      &:before {
        content: " ";
        position: absolute;
        bottom: 100%; left: 0; right: 0;
        height: .7rem;
        z-index: 2;
      }
    }
    .favour {
      &:before {
        background: resolve('favour.png') center center no-repeat;
        background-size: .37rem .6rem;
      }
    }
    .count {
      margin-left: .4rem;
      &:before {
        background: resolve('user-count.png') center bottom no-repeat;
        background-size: .51rem .49rem;
      }
    }
  }
  .btn-pause {
    display: inline-block;
    width: .9rem; height: .9rem;
    border-radius: 50%;
    background: rgba(255,255,255,1) resolve('btn-pause.png') center center no-repeat;
    background-size: .26rem .36rem;
    &.paused {
      background-image: resolve('btn-play.png');
      background-size: .24rem .31rem;
    }
  }
  .barrage-wrap {
    position: relative;
    pointer-events: none;
    background-color: #eee;
    &.size-5 {
      .item0 {
        opacity: .6;
      }
      .item1 {
        opacity: .8;
      }
    }
    &.size-4 {
      .item0 {
        opacity: .8;
      }
    }
    .footer {
      position: absolute;
      right: .3rem; bottom: 1rem;
      z-index: 3;
      .favour, .count {
        position: relative;
        display: inline-block;
        height: .3rem; min-width: .3rem;
        padding: 0 .2rem;
        line-height: .3rem;
        font-size: .24rem;
        border-radius: .3rem;
        color: #fff;
        background-color: #00db7c;
        &:before {
          content: " ";
          position: absolute;
          bottom: 100%; left: 0; right: 0;
          height: .7rem;
          z-index: 2;
        }
      }
      .favour {
        &:before {
          background: resolve('favour.png') center center no-repeat;
          background-size: .37rem .6rem;
        }
      }
      .count {
        margin-left: .4rem;
        &:before {
          background: resolve('user-count.png') center bottom no-repeat;
          background-size: .51rem .49rem;
        }
      }
    }
    .item {
      display: flex;
      margin-top: .2rem;
      max-width: 4.7rem;
      padding: .15rem .2rem .08rem;
      align-items: flex-start;
      font-size: .24rem;
      color: #444;
      border-radius: .1rem;
      //background-color: rgba(255,255,255, .85);
      
      img {
        width: .6rem;
        height: .6rem;
        margin-right: .25rem;
        border-radius: .3rem;
      }
      .info {
        flex-grow: 1;
        word-break: break-all;
        background-color: #fafafa;
        padding: .12rem .2rem .2rem .15rem;
        border-radius: .05rem;
      }
      .name {
        font-size: .24rem;
        color: #b7b7b7;
        //color: rgba(68, 68, 68, .9);
      }
      .vip {
        display: inline-block;
        margin-left: .05rem;
        width: .4rem; height: .2rem;
        background: resolve('vip.png') 0 0 no-repeat;
        background-size: cover;
      }
      .msg {
        font-size: .28rem;
        margin-top: .1rem;
        line-height: .36rem;
        color: #333;
      }
    }
  }
  .video-placeholder {
    position: relative;
    overflow: hidden;
    pointer-events: none;
    &:after {
      position: absolute;
      top: 50%; left: 50%;
    }
    &.deleted {
      height: 9.2rem;
    }
    &.recording {
      height: 12.2rem;
    }
    img {
      width: 100%;
    }
  }
  .anchor-wrap {
    display: flex;
    padding: .23rem .26rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.08);
    background-color: #fff;
    img {
      width: .9rem; 
      height: .9rem;
    }
    .info {
      width: 6.6rem;
      padding: 0 .3rem;
    }
    .nickname {
      line-height: .44rem;
      font-size: .24rem;
      font-weight: bold;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: #777;
    }
    .vip {
      display: inline-block;
      width: .4rem; height: .2rem;
      background: resolve('vip.png') 0 0 no-repeat;
      background-size: cover;
    }
    .title {
      font-size: .34rem;
      color: #000;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      line-height: 1.4;
    }
  }
  .hot-list {
    >.title {
      position: relative;
      padding: .35rem 0 .3rem;
      font-size: .28rem;
      color: rgba(0, 209, 93, .8);
      text-align: center;
      background-color: #fff;
      &:after, &:before {
        content: " ";
        position: absolute;
        top: .49rem; 
        width: 2.7rem;
        border-bottom: 1px solid #00db7c;
      }
      &:before {
        left: .3rem;
      }
      &:after {
        right: .3rem;
      }
    }

    .loadmore {
      margin-top: .3rem;
      margin-bottom: .3rem;
      padding: .3rem 0;
      text-align: center;
      font-size: .3rem;
      color: rgba(0,0,0,.8);
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.08);
      background-color: #fff;
    }
  }
  .hot-item {
    .img-wrap {
      position: relative;
    }
    .img-inner {
      height: 3.9rem;
      overflow-y: hidden;
      background-position: center; 
      background-size: cover;
    }
    .status {
      position: absolute;
      right: 0; bottom: .1rem;
      padding: .1rem .1rem .1rem .18rem;
      font-size: .2rem;
      border-top-left-radius: .3rem;
      border-bottom-left-radius: .3rem;
      color: #fff;
      background-color: rgba(0,0,0,.8);
    }
    img {
      vertical-align: top;
      max-width: 100%;
    }
  }
  .m-count{
    position: absolute;
    right: .2rem; bottom: -.4rem;
    font-size: .24rem;
    color: rgba(0,0,0,.8);
    .favourcount, .usercount {
      padding-left: .28rem;
      background-position: left center;
      background-repeat: no-repeat;
    }
    .favourcount {
      margin-right: .3rem;
      background-image: resolve('favour-s.png');
      background-size: .16rem .24rem;
    }
    .usercount {
      background-image: resolve('user-count-s.png');
      background-size: .21rem .2rem;
    }
  }
  .canvas {
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    left: 0;
    bottom: .66rem;
    z-index: 2;
    pointer-events: none;
    canvas {
      width: 100%; height: 100%;
    }
  }
}




